/* 
==========
Variables
==========
*/
:root {
  --main-blue: #1757b8;
  --secondary-blue: #3b84f2;
  --dark-blue: #0c4cac;
  --main-orange: #ff7841;
  --main-grey: #62656a;
  --main-black: #303236;
  --background-grey: #fafafa;
  --footer-light: #303236;
  --footer-dark: #24262a;
  --ff-primary: 'Roboto Slab', serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  --font-weight: 300;
}

/* 
==========
Global Styles
==========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
/* 
==========
Header
==========
*/
.header {
  background: var(--main-blue);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.header-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.logo-container {
  /* display: inline; */
}
.info-container {
  display: flex;
  align-items: center;
  color: #ffff;
  font-family: var(--ff-secondary);
  font-weight: 700;
}

.quote-btn {
  /* display: inline-block; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  border: 1px transparent;
  color: #ffff;
  background: var(--main-orange);
  margin-left: 10px;
}
.login-btn {
  background: var(--secondary-blue);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  border: 1px transparent;
  color: #ffff;
  margin: 0 3px;
}
.search {
  font-size: 22px;
  /* display: inline-block; */
  color: #ffff;
  background: var(--dark-blue);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
}

/* 
==========
Navbar
==========
*/
/* hide at 991px */
.navbar ul {
  display: flex;
  justify-content: center;
}
.navbar ul > li > a {
  text-transform: uppercase;
  padding: 20px 25px;
  font-size: 14px;
  color: var(--main-black);
}
.navbar li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #e2e6ed;
}
.navbar li:last-child {
  border-right: 1px solid #e2e6ed;
}
.mobile-btn-container {
  text-align: right;
}
.nav-toggle {
  color: #ffff;
  background: var(--main-blue);
  padding: 9px 10px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  transition: 380ms;
}
.nav-toggle:hover {
  background: var(--main-orange);
}
/* Need to add transition in from top */
.mobile-nav {
  width: 100%;
  background: #333333;
}
.mobile-item {
  border: 1px solid #444;
}
.mobile-item * {
  padding: 15px;
  color: #ffff;

  padding-left: 5px;
}
i {
  margin-right: 10px;
}
/* 
==========
Media queries
==========
*/
@media screen and (max-width: 768px) {
  .info-container .call {
    display: none;
  }
  .info-container .search {
    display: none;
  }
  .login-btn {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .navbar {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .mobile-btn-container {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
