/* 
==========
Variables
==========
*/
:root {
  --main-blue: #1757b8;
  --secondary-blue: #3b84f2;
  --dark-blue: #0c4cac;
  --main-orange: #ff7841;
  --main-grey: #62656a;
  --background-grey: #fafafa;
  --footer-light: #303236;
  --footer-dark: #24262a;
  --ff-primary: 'Roboto Slab', serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  --font-weight: 300;
}

/* 
==========
Global Styles
==========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* 
==========
Header
==========
*/
.header {
  background: var(--main-blue);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.header-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* gap: 500px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.logo-container {
  /* display: inline; */
}
.info-container {
  display: flex;
  align-items: center;
  color: #ffff;
  font-family: var(--ff-secondary);
  font-weight: 700;
}

.quote-btn {
  /* display: inline-block; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  border: 1px transparent;
  color: #ffff;
  background: var(--main-orange);
  margin-left: 10px;
}
.login-btn {
  background: var(--secondary-blue);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  border: 1px transparent;
  color: #ffff;
  margin: 0 3px;
}
.search {
  font-size: 22px;
  /* display: inline-block; */
  color: #ffff;
  background: var(--dark-blue);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
}
.call {
}

/* 
==========
Media queries
==========
*/
@media screen and (max-width: 768px) {
  .info-container .call {
    display: none;
  }
  .info-container .search {
    display: none;
  }
  .login-btn {
    display: none;
  }
}
